@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap");

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background-color: #ffffff;
    
}

.page-wraper {
    max-width: 1160px;
     margin: 0 auto;

}
/* header UP */
.logo {
    width: 8%;
}

.header-wrap {
    background-color: #eeeeee;
    max-width: 1440px;
    margin: 0 auto;
}

.header-wrap a {
    font-weight: 500;
    font-size: 16px;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 49px;
}

.main-header a{
    color: #111;
}

.menu {
    display: flex;
    justify-content: space-between;
}

nav {
    width: 36%;
}

.basket img {
    margin-right: 26px;
    vertical-align: middle;
}

/* header down */

.slider h1 {
font-size: 55px;
margin-top: 82px;
margin-bottom: 30px;
line-height: 55px;
}

.slider p {
    line-height: 24px;
}

.button-red {
    background-color: #fb565a;
    width: 70%;
    padding: 15px 0;
    text-align: center;
    border: #fb565a solid 1px;
    border-radius: 10px;
    margin-top: 42px;
    margin: 0 auto;
    color: #fff;
}



.more {
    width: 20%;
    margin: 0 0;
}

.button-red a {
    color: #fff;
}



.slider {
    position: relative;
}

.slider-img {
    position: absolute;
    bottom: 0px;
    right: 0px;
}


/* center up */

.sentence {
    display: flex;
    padding-bottom: 74px;
}

.dudes {
    margin: 80px 100px 0px 0;
}

.dudes img {
    margin-bottom: 26px;
}

.dudes h2 {
margin-bottom: 30px;
font-weight: bold;
font-size: 24px;
}

.dudes p {
    margin-bottom: 35px;
    font-size: 16px;
}

.to-order {
    width: 54%;
    padding: 15px 0;
    text-align: center;
    border-radius: 10px;
    color: #ffffff;
}

.red {
    background-color: #fb565a;
    border: #fb565a solid 1px;
}

.green {
    background-color: #00ca74;
    border: #00ca74 solid 1px;
}

.yellow {
    background-color: #efc84a;
    border: #efc84a solid 1px;
}


/* center down */


.line {
    border: #eeeeee solid 1px
}

.pride {
    display: flex;
    justify-content: space-between;
    padding-bottom: 70px;
}



.perform h2 {
    font-size: 45px;
    margin-top: 80px;
    margin-bottom: 40px;
}

.perform h3 {
    margin-top: 40px;
}

.perform p {
    font-size: 16px;
}

.perform img {
    margin-bottom: 3px;
    margin-right: 5px;
}

.perform li {
    margin-top: 38px;
}



.perform li::before  {
    content: "";
    width: 10px;
    height: 2px;
    background-color: red;
    vertical-align: middle;
    margin-right: 10px;
    display: inline-block;
}

/* 222222222222222222222222222 */

.accuracy {
    width: 30%;
}


.accuracy img {
    margin-top: 40px;
    margin-bottom: 41px;
}

.interest {
    display: flex;
    margin-top: 54px;
}

.indicators{
    width: 33%;
    font-size: 45px;
    font-weight: bold;
}

.indicators p{
    font-size: 16px;
    font-weight: 400;
    margin-top: 30px;
}


.indicators  span {
    font-size: 30px;
    vertical-align: 15px;
}


/* LOGO       logo         logo         */



/* .partners img {
    border-right: 1px solid #000;
}  */


.partners {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 46px 0 ;
}



.line-v {
    position: relative;
    padding-right: 22px;
    padding-left: 22px;
}

.line-v:last-child::before {
content: none;
}

.line-v::before  {
    content: "";
    width: 2px;
    height: 50px;
    background-color:#eeeeee;
    display: inline-block;
    position: absolute;
    right: -23px;
    top: 50%;
    transform: translate(0%, -50%);

}

/* map  */

.map img {
    width: 100%;
}

.map-wrap {
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
    margin-top: 80px;
}

.to-write {
    width: 22%;
    background: #fff;
    align-items: center;
    text-align: center;
    padding: 57px 0 47px;
    position: absolute;
    left: 140px;
    top: 50%;
    transform: translate(0%, -50%);
}

.to-write h4 {
    margin-bottom: 35px;

}

.to-write p {
    margin-bottom: 25px;
}





/* form  */

.hidden-form {
    width: 75%;
    position: absolute;
    left: 50%;
    top: -140px;
    transform: translate(-50%, 0%);
    background-color: #fff;
    padding: 80px 100px;
    font-weight: 700;
    display: none;
}


.hidden-form {
    box-shadow: 0 14px 28px rgba(0,0,0,0.45), 0 10px 10px rgba(0,0,0,0.22);
}

.close {
    display: flex;
    justify-content: space-between;
    margin-bottom: 45px;
}

.hidden-form h2 {
        font-size: 45px;
    font-weight: bold;
}
      


label {
    display: block; 
    margin-bottom: 13px;
}

input {
    border: 2px solid #d7dcde;
}

.half-form input{
    padding: 14px;
    width: 100%;
}

.full-form input {
    padding: 14px;
    padding-bottom: 82px;
    width: 100%;
}

.full-form {
    margin-top: 35px;
}


.half-form {
width: 47%;
}

.half-test {
    display: flex;
    justify-content: space-between;
}


.send {
    width: 30%;
    margin: 42px 0 0;
}


.show-form {
    display: block;
}
/* footer  */



footer {
    display: flex;
    align-items: center;
    padding: 65px 0;
}

.social {
    width: 34%;
}




.sale h2 {
    font-size: 36px;
}


.sale p {
    margin-top: 10px;
}



/* карусель owl-carousel */


.owl-dots {
  position: absolute;
  bottom: 20%;
  width: 100%;
  text-align: center;
  
}

.owl-dot  {
    background-color: #fff !important;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    outline: none;
    position: relative;
    margin: 0 9px;

}



.owl-dot.active span {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 2px solid #c1c1c1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}




.owl-item {
padding-bottom: 80px;
padding-top: 40px;
}


.owl-carousel {
    margin-top: -10px;
}